body {
	margin: 0;
	height: 100%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 40px;
}

#container {
	width: 80%;
	height: 60%;
	float: left;
}

#timeago {
	width: 80%;
	height: 30%;
	float: left;
}

#time {
	padding: 20px;
}

.event {
	padding: 20px;
}